{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Nouvelle page" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Créer une nouvelle page" | trans }}</h1>

    {{ include('page/_form.html.twig') }}
{% endblock %}
