{% extends 'sidebar.html.twig' %}

{% block title %}{{ "New page" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Create a new page" | trans }}</h1>

    {{ include('page/_form.html.twig') }}
{% endblock %}
