{% extends 'no-sidebar.html.twig' %}

{% block title %}{{ "Veuillez confirmer la création du compte" | trans }}{% endblock %}

{% block body %}

<p>Veuillez maintenant confirmer la création du compte</p>

{% endblock %}
