{% extends 'no-sidebar.html.twig' %}

{% block title %}{{ "Please confirm the accont creation" | trans }}{% endblock %}

{% block body %}

<p>{{ "Please confirm the accont creation" | trans }}</p>

{% endblock %}
