{% extends 'sidebar.html.twig' %}

{% block title %}{{ "New page group" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Create a new page group" | trans }}</h1>

    {{ include('page_group/_form.html.twig') }}
{% endblock %}
