{% extends 'base.html.twig' %}

{% block content %}

    <div class="main-container main-container-no-sidebar">
        <div class="content">
            <div class="content-inside">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}